body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; font-size:100%;}
pre { white-space:pre; font-family:"Courier New", Courier, monospace; }
:focus { outline:0; }
html { font-size: 62.5%; }
body { font-size: 1.3em; color:#111; background:#FFF; }

h1 { font-size:5.5em; font-weight:normal; }
h2 { font-size:3.4em; font-weight:normal; }
h3 { font-size:2.1em; font-weight:normal; }
h4 { font-size:1.3em; font-weight:normal; }
h5 { font-size:100%; font-weight:normal; text-transform: uppercase; }
h6 { font-size:100%; font-weight:normal; }

p, li, dt, dl, label, blockquote, table { line-height:1.5em; }