#header
  %h1 Nationals

#sidebar
  %h2 Links
  %dl
    %dt
      Maps
      %dd
        %a.sidebarLink{ :href => "http://www.mapmyride.com/ride/united-states/wi/blue-mounds/115125606735557005", :target => "_blank" }
          Road Race Course
    %dt
      %a.sidebarLink{ :href => "http://www.usacycling.org/" } USA Cycling

#content
  %img#capcrit{ :src => "images/capcrit08.jpg" }

  %h3.sponsorTitle Trek Bikes
  .sponsorDescription
    %p
      When Trek began in 1976, their mission was simple: Build the best
      bikes in the world.  Today, They've added to that mission: Help the
      world use the bicycle as a simple solution to complex problems.
      Headquartered in Waterloo, Wisconsin, Trek Bicycle Corporation is a
      global leader in bicycle design and manufacturing. From the original
      hand-built steel touring frames introduced in 1976 to the
      revolutionary OCLV Carbon first introduced in 1992, Trek's passion
      for innovation, quality, and performance leads the industry with
      next-generation thinking and cutting edge technology. 
    %img.companyLogo#trekLogo{ :src => "images/trek.jpg", :width => "150" } 
    %p
      In addition to top of the line road and time trial bikes you'll see
      racing at the Collegiate Cycling championships, Trek also has an
      extensive line up of other bikes including mountain, urban, women's,
      and children's bicycles. With countless professional wins, Trek enjoys
      a rich tradition of victory in the world's premier cycling events.
      Today, with a broad range of bicycles and cycling products under the
      Trek, Gary Fisher, and Bontrager brand names, Trek continues to pursue
      new ways to bring the joy of cycling to all people.

  %h3.sponsorTitle Mt. Borah
  .sponsorDescription
    %img.companyLogo#borahLogo{ :src => "images/mtborah.gif" }
    Mt. Borah creates functional cycling apparel that lets you enjoy your
    outdoor experience in maximum comfort. They use only quality technical
    fabrics designed specifically for extended use under any condition.
    Located in Coon Valley, Wisconsin, Mt. Borah has been crafting high
    quality outdoor apparel for twelve seasons. Every Mt. Borah design is
    thoroughly tested and reviewed for quality, function and comfort.
    You'll find our products delight your senses, protect you from the
    elements and perform best when you need them most. Whether you're
    careening down an alpine single track on a mountain bike, dodging
    potholes on an urban commute, leading the peloton through a corner, or
    hiking through the woods, you'll enjoy being there more when you're
    outfitted by Mt. Borah Designs.  In addition to being committed to
    developing and manufacturing the best active apparel available, Mt.
    Borah is proud to have all of their apparel made in the United States!

  %h3.sponsorTitle UW Cycling
  .sponsorDescription
    %img.companyLogo#uwLogo{ :src => "images/motionW.gif", :width => "150" }
    UW Cycling is the largest club sport on UW campus. We are a group of 90
    students who raise bicycle awareness, organize and volunteer for
    numerous local and national cycling events, and race bicycles in the
    Midwest Collegiate Cycling Conference (MWCCC). UW Cycling is a
    well-respected name in the national cycling scene, winning the MWCCC
    title in both 2005 and 2006. UW Cycling alumni can be found racing
    professionally, working for Trek Bicycles corporate headquarters, and
    the Bicycle Federation of Wisconsin.  We are the only club sport in the
    nation to offer its own scholarship.  Lastly, we are pleased to be your
    hosts for the Collegiate Cycling National Championships. 

  %h3.sponsorTitle Concourse Hotel
  .sponsorDescription
    %img.companyLogo#concourseLogo{ :src => "images/concourse.png" }
    Located right in the heart of downtown Madison, the Madison Concourse
    Hotel is the official hotel of the Collegiate National Championships.
    It is only one block from the Collegiate National Championships
    Criterium course, and is within walking distance to the State Capitol,
    State Street, the University of Wisconsin-Madison, Lake Mendota, and
    the rest of downtown life.  They are proud to host all guests and
    teams; providing space for bike storage, parking for team cars, in
    addition to discounted rooms for team members.  Please consider the
    Madison Concourse Hotel your ideal location for your next vacation,
    meeting, convention or special event. 

  #footer
    Created by UwCycling members Alex Bird and Brian Cobb.
