!!!
%html
  %head
    %title Nationals
    %link{ :href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if lt IE 8]
      %link{ :href => "stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "javascripts/jquery-1.4.2.min.js", :type => "text/javascript" }
  %body.two-col
    #container
      = yield
