!!!
%html
  %head
    %link(href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css")
    /[if lt IE 8]
      %link(href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css")
  %body
    .container
      .span-24
        %h3
          2010 USCF Collegiate Cycling Nationals, 
          hosted by the University of Wisconsin
          Madison Cycling Club

      .span-8
        Where to stay: 
        Bestest Western
        %img(src="images/bw.jpg")
        = "yadda " * 20

      .span-8
        Where to eat: Noodles &amp; Co.
        %img(src="images/noodles.jpg")
        = "yadda " * 20

      .span-8.last
        Where to get parts: The Trek Store
        %img(src="images/trek.jpg")
        = "yadda " * 20
