!!!
%html
  %head
    %link(href="css/stylesheet.css" type="text/css" rel="stylesheet")
  %body
    #wrapper
      #contents
        %h3 2010 USCF Collegiate Cycling Nationals, hosted by the University of Wisconsin Madison Cycling Club
        #commands
          #stay#tri-1.command
            Where to stay: 
            Bestest Western
            %img(src="images/bw.jpg")
            = "yadda " * 20
          #eat#tri-2.command
            Where to eat: Noodles &amp; Co.
            %img(src="images/noodles.jpg")
            = "yadda " * 20
          #parts#tri-3.command
            Where to get parts: The Trek Store
            %img(src="images/trek.jpg")
            = "yadda " * 20
